<div class="jumbotron">
  <div class="container">
    <h1>Farm Share</h1>
    <h3>Find local animal shares and make the world a happier place!</h3>
  </div>
</div>
<!-- Scrolling up area 1 -->
<div class="about-us">
</div>
<!-- Scrolling picture between text areas -->
<div class="scroll-image">
    
</div>
<!-- Scroll up area 2 -->
<div class="user-setup">
    
</div>